* {
  box-sizing: border-box;
  padding: 0;
}
#library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  justify-content: center;
  gap: 20px;
}

.book {
  justify-self: center;

  padding: 0 10px;
  border: 1px solid black;
  width: 150px;
  min-height: 220px;

  box-shadow: 5px 5px 0 0;
}