/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  /* line height not suitable for headings */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* PROJECT CSS */
#library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  justify-content: center;
  gap: 20px;
}

.book {
  justify-self: center;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  align-items: center;

  padding: 20px;
  border: 1px solid black;
  width: 200px;
  height: 300px;
  box-shadow: 5px 5px 0 0;
}

.book>.book-title {
  grid-column: 1/-1;

  font-weight: 600;
  font-style: italic;
}

.book>.book-author {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.book>.book-pages {
  grid-column: 1;
  grid-row: 4;
}

.book>.book-read {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
  border: none;
  background: none;
}
.book>#remove-book {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid gray;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: grid;
  padding: 5px;
  gap: 10px;
}

form>div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}

form label {
  text-align: right;
}

form input {
  justify-self: left;
}